.jumbotron{
    background-color:black;
    background-image: url("../Images/witch.jpg");
	color: #ffffff;
}

body{
    background-color:black;
}

h1{
    text-align: left;
}

.btn{
    background-color: blueviolet;
    color:whitesmoke;
}

#add-movie{
    background-color: black;
    color:whitesmoke;
}

label{
    color: whitesmoke;
}


#movies{
	padding: 3%;
}

div{
	margin-bottom: 10%;
}